/* OSNOVNA PODESAVANJA */
@import url('https://fonts.googleapis.com/css?family=Muli');
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
}

.cistac {
	clear: both;
}
.omotac {
	width: 1200px;
	margin: 0px auto;
}

/* ZAGLAVLJE */

#zaglavlje {
	width: 100%;
	height: auto;
	background-color: #414141;
}

#logo h1 {
	text-align: center;
	color: #fff;
	font-size: 60px;
	padding: 20px;
	font-family: 'Muli', sans-serif;
	font-weight: 600;
}
#logo a {
	color:#fff;
	text-decoration: none;
}

#zaglavljeDole {
	width: 100%;
	height: auto;
	background-color: #5DB4D5;
}
#glavniMeni {
	text-align: center;	
	font-family: 'Muli', sans-serif;
}

#glavniMeni ul {
	display: inline-block;
	text-align: initial;
}
#glavniMeni ul li {
	padding: 20px;
	margin-left: 50px;
	margin-right: 18px;
	float: left;
}
#glavniMeni ul li a {
	color: #fff;
	font-size: 25px;
	text-decoration: none;
}

#glavniMeni ul li a:hover {
	color: #414141;
}

#dugme {
	display: none;
	height: auto;
	width: 100%;
	cursor: pointer;
	position: relative;
	text-align: center;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #5DB4D5;
    width: 100%;
}

.dropdown-content:hover {
	color: #414141;
}
.dropbtn {
	background-color: #5DB4D5;
	border: none;
}

.show {display:block;}

#dugme a {
	display: block;
	padding: 15px 30px;
	color: #fff;
	font-size: 30px;
	text-decoration: none;
	font-family: 'Muli', sans-serif;
	font-weight: 600;
	text-align: center;
}

#dugme a:hover {
	color: #414141;
}

/* SLAJDER */

#slajder {
    background-image: url('../images/electrician.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    height: 72vh;
    background-attachment: fixed;
}

/* O NAMA */

#oNama {
	width: 100%;
	height: auto;
	padding: 60px;
}

#levo {
	float:left;
	width: 40%;
}

#desno {
	float: left;
	width: 60%;
}

.naslov h2 {
	font-family: 'Muli', sans-serif;
	color:#5DB4D5;
	font-size: 36px;
	text-align: center;
	padding-bottom: 23px;
}

.naslov a {
	color: #5DB4D5;
	text-decoration: none;
}
#lista {
	font-family: 'Muli', sans-serif;
	font-size: 17px;
}

#lista ul {
	list-style-type: circle;
}

#lista ul li {
	margin-bottom: 10px;
}

#opis {
	font-family: 'Muli', sans-serif;
	font-size: 18px;
	
}

/* USLUGE */

 #usluge {
 	width: 100%;
 	height: auto;
 	background-color: #414141 ;
 	padding: 60px;
 	position: absolute;
 }

.naslov1 {
	font-family: 'Muli', sans-serif;
	font-size: 30px;
	text-align: center;
	padding-bottom: 23px;
}

.naslov1 a {
	color:#fff;
	text-decoration: none;
}
.proizvod {
	width: 33%;
	height: auto;
	padding: 30px;
	float: left;
	position: relative
}

.slika img {
	width: 300px;
	height: 200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.opisProizvoda p {
	color: #fff;
	text-align: center;
	font-family: 'Muli', sans-serif;
	font-size: 22px;
}

/* KONTAKT */

#kontakt {
	width: 100%;
	height: auto;
	background-color: #fff;
	padding: 50px;
	position: relative;
	top: 800px;
}

#naslovK h2 {
	font-family: 'Muli', sans-serif;
	color:#5DB4D5;
	font-size: 36px;
	text-align: center;
	padding-bottom: 23px;
	margin-bottom: 30px;
}

#naslovK a {
	color: #5DB4D5;
	text-decoration: none;
}
#social {
	float:left;
	width: 50%;
}

#social p {
	font-family: 'Muli', sans-serif;
	font-size: 22px;
	padding-bottom: 5px;
}

#social a{
	color: #5DB4D5;
	text-decoration: none;
}
#social ul {
	margin-top: 20px;
}
#social ul li a {
	font-size: 30px;
	margin-right: 30px;
}
#forma {
	width: 50%;
	float: right;
}

#forma input, #forma textarea {
	width: 100%;
	display: block;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #414141;
	background-color: #414141 ;
	color: #fff;
	font-size: 20px;
	font-family: 'Muli', sans-serif;
}

#forma input[type="text"]{
	width: 49.4%;
	display: inline-block;
	font-size: 20px;
}

#forma ::placeholder {
	color: #fff;
}
#forma input[type="submit"], #kontakt input[type="submit"] {
	background-color: #5DB4D5;
	color: #fff;
	border: 1px solid #5DB4D5;
}

#tbSend:hover {
	background-color: #fff;
}
/* FUTER */

#futer {
	width: 100%;
	height: auto;
	position: relative;
	top: 800px;
}

#info {
	width: 100%;
	background-color: #414141;
	color: #fff;
	text-align: center;
	font-family: 'Muli', sans-serif;
}
/* MEDIA QUERIES */ 

/* Za velicine do 1200 */ 

@media screen and (max-width: 1200px) {

	.omotac {
		width:100%;
	}

	#lista {
		font-size: 15px;
	}
}

@media screen and (max-width: 1280px) {
	#opis {
		font-size: 16px;
	}

	#lista {
		font-size: 15px;
	}

	#levo {
		width: 30%;
		margin-right: 30px;
	}

}
 @media screen and (max-width: 1130px ) {

 	#levo {
 		display: none;
 	}

 	#desno {
 		width: 100%;
 	}
 }

 @media screen and (max-width: 1080px) {
 	.proizvod {
 		width: 50%;
 		padding: 15px;
 	}

 	.slika img {
		width: 250px;
		height: 150px;
	}

	.opisProizvoda p {
		text-align: left;
		font-size: 20px;
	}
 	
 }

 @media screen and (max-width: 850px) {
 	#naslovK h2 {
 		font-size: 33px;
 	}

 	#social p {
 		font-size: 19px;
 	}

 	#social ul li a {
		font-size: 27px;
	}
}

@media screen and (max-width: 810px) {

	#logo h1 {
		font-size: 45px;
	}

	#glavniMeni ul li a {
		font-size: 20px;
	}
@media screen and (max-width: 800px) {
	#social {
		width: 100%;
	}

	#social p {
		text-align: center;
	}

	#social ul {
		display: none;
	}

	#forma {
		width: 100%;
		margin-top: 30px;
	}

 	.proizvod {
 		width: 50%;
 		padding: 10px;
 	}

 	.slika img {
		width: 230px;
		height: 130px;
	}

	.opisProizvoda p {
		font-size: 17px;
	}

	.naslov1 {
	font-size: 27px;
	}
}
@media screen and (max-width: 740px) {
	#dugme {
		display: block;
	}

	#glavniMeni {
		display: none;
	}
}
@media screen and (max-width: 680px) {

	.opisProizvoda p {
		font-size: 13px;
	}

	.naslov1 {
	font-size: 22px;
	}

	#kontakt {
		top: 600px;
	} 

	#usluge {
		padding: 20px;
	}

}
@media screen and (max-width: 600px) {
	.naslov h2 {
		font-size: 30px;
	}

	.naslov1 {
		font-size: 25px;
	}

}
@media screen and (max-width: 450px) {
	#social p {
		font-size: 16px;
	}
	
	#forma input, #forma textarea {
	width: 100%;
	font-size: 17px;
	}

	#forma input[type="text"]{
	width: 100%;
	font-size: 17px;
	display: block;
	}
}

@media screen and (max-width: 400px) {
	#dugme a {
		font-size: 24px;
	}

	#logo h1 {
		font-size: 40px;
	}
}